.App {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 5px;
  width: 200px;
  justify-content: space-between;
}

p {
  padding: 20px;
  font-size: 24px;
}

button {
  font-size: 24px;
  padding: 20px;
  background-color: black;
  color: white;
}
